

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/footer.css' %}">
{% endblock %}


<footer id="footer" class="footer-container">
    <div class="footer-content">
        <!-- Форма обратной связи -->
        <div class="footer-feedback">
            <h2 class="footer-title">Есть вопросы? Свяжитесь с нами</h2>
            <form method="post" action="{% url 'users:feedback_processing' %}" class="feedback-form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="feedback_name" id="feedback_name" placeholder="Ваше имя" class="form-input" />
                    <input type="email" name="feedback_email" id="feedback_email" placeholder="Ваша почта" class="form-input" />
                </div>
                <textarea name="feedback_message" id="feedback_message" placeholder="Ваше сообщение" class="form-textarea"></textarea>
                <button type="submit" class="btn btn-submit">Отправить</button>
            </form>
        </div>

        <!-- Ссылки на ресурсы -->

    </div>
</footer>
