{% block header %}
{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/header.css' %}">
</head>
<body>
    <header id="header">
        <a href="{% url 'store:home' %}" class="logo">
            <span class="symbol"><img src="{% static "images/Door.png" %}" alt="DOOR" /></span>
        </a>
        
        <!-- Language Selector -->
        <div class="language-selector">
            <a href="{% url 'set_language' %}?language=en"><img src="" alt=""> {% trans "Рус" %}</a>
            <a href="{% url 'set_language' %}?language=ky"><img src="" alt=""> {% trans "Кырг" %}</a>
            <a href="{% url 'set_language' %}?language=ru"><img src="" alt=""> {% trans "Eng" %}</a>
        </div>

        <div class="inner1">
            <div class="catalog" id="catalog" style="display: none;">
                <h3>{% trans "Каталог" %}</h3>
                <ul>
                    {% for tag in page_obj_2 %}
                        <li><a href="{% url 'store:tag_details' tag.slug %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Nav -->
            <button class="catalog-button" onclick="toggleCatalog()">
                <i class="fa-solid fa-bars"></i> {% trans "Каталог" %}
            </button>
            <div class="search-bar">
                <form action="{% url 'store:search' %}" method="get">
                    <input type="text" name="q">
                    <button type="submit"><i class="fa-solid fa-search"></i></button>
                </form>
            </div>
            <nav>
                <ul class="actions">
                    <li class="icons-header">
                        <a href="{% url 'users:profile' %}">
                            <i class="fa-solid fa-user"></i>
                            <span class="icon-text">{% trans "Войти" %}</span>
                        </a>
                        <a href="{% url 'users:user_orders' %}">
                            <i class="fa-solid fa-list-check"></i>
                            <span class="icon-text">{% trans "Заказы" %}</span>
                        </a>
                        <a href="{% url 'store:favorite_list' %}">
                            <i class="fa-solid fa-heart" style="color: black;"></i>
                            <span class="icon-text">{% trans "Избранное" %}</span>
                        </a>
                        <a href="{% url 'cart:cart' %}">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span class="icon-text">{% trans "Корзина" %}</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Search Bar -->
        </div>
    </header>
    
    <script>
        function toggleCatalog() {
            const catalog = document.getElementById('catalog');
            if (catalog.style.display === 'none') {
                catalog.style.display = 'block';
            } else {
                catalog.style.display = 'none';
            }
        }
    </script>
{% endblock %}
</body>
</html>
