.moderator-panel {
    text-align: center;
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button_admin_panel {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}
