.count {
  display: flex; 
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 45px;
  max-height: 45px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 15px;
  margin: auto;
  background: #e0e0e0;
  border-radius: 30px;
  transition: max-width 0.5s;
}

.count:hover,
.count.active {
  max-width: 110px;
  background: #ffffff;
  border: 1px #c2c2c2 solid;
}

.count:hover input,
.count.active input {
  border-bottom: 1px #404040 solid;
  margin-bottom: -1px;
}

.count input {
  width: 45px;
  border: none;
  background: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: -3px;
}

.count span {
  cursor: pointer;
}

.count .minus {
  font-size: 12px;
  margin-right: 10px;
}

.count .plus {
  margin-left: 10px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.button_whatsapp {
  background-color: #25D366;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button_continue {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}