.carousel-slide {
    width: 1000px;
    height: 320px;
    border: 4px solid;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(0, 108, 202), rgb(1, 108, 230));
    overflow: hidden;
    position: relative;
    list-style-type: none;
    margin-left: 250px;
    margin-top: 30px;
    
}

.carousel-slide .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px; /* Добавляем радиус скругления для изображения */
    margin: 0 auto; /* Добавляем выравнивание по центру */
    border-radius: 10px;
}

.beseller {
    background-color: darkred;
    padding: 7px 25px;
    text-decoration: none;
    border-radius: 30px;
    margin-left: 1270px;
    position: absolute;
    margin-top: -320px;
    color: white;
}

.button_admin {
    background-color: darkred;
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 30px;
    margin-left: 1415px;
    position: absolute;
    margin-top: -270px;
    color: white;
}

.icon-besseler {
    color: white;
}

.Jhin {
    width: 300px;
    height: 500px;
    position: absolute;
    margin-left: 1350px;
    margin-top: -250px;
    z-index: -1;
}

.tags_mainpage {
    display: flex;
    flex-direction: row;
     /* чтобы теги переносились на следующую строку при нехватке места */
    gap: 20px; /* расстояние между тегами */
    justify-content: center; /* выравнивание по центру */
    margin: 20px 0; /* отступы сверху и снизу */
}

.tags_mainpage a {
    text-align: center; /* выравнивание текста по центру */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.tags_mainpage .image {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%; /* делаем изображение круглым */
    border: 2px solid #000; /* добавляем рамку для кружков */
}

.tags_mainpage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* делаем изображение круглым */
}

.tags_mainpage b {
    margin-top: 10px; /* отступ сверху */
    display: block;
}

.tags_mainpage {
   
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    z-index: 10;
}

.button_small {
    background-color: rgb(0, 69, 139);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button_small a {
    color: white;
}

.btn-outline-primary {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

i.fa-heart {
    font-size: 24px; /* Размер иконки */
    transition: color 0.3s;
}

.fa-heart.fa-solid {
    color: red; /* Красный цвет для solid */
}

.fa-heart.fa-regular {
    color: grey; /* Серый цвет для regular */
}

.carousel-container {
    position: relative;
    max-width: 1340px;
    margin-right: auto;
    overflow: hidden;
}

.tags_mainpage {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px 50px;
}

.next, .previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
}

.next {
    right: 0;
}

.previous {
    left: 0;
}

.next:hover, .previous:hover {
    background-color: rgba(0,0,0,0.7);
}



.products {
    background-color: white;
}   

.button_add_item {
    background-color: darkred;
    padding: 7px 25px;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    margin-left: 1440px;
    position: absolute;
    margin-top: -320px;
}

.button_my_items {
    background-color: darkred;
    padding: 7px 25px;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    margin-left: 1280px;
    position: absolute;
    margin-top: -270px;
}

#products {
    padding: 20px;
    background-color: #f9f9f9;
}

#products .inner {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#products h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    background-color: #fff;
    border: 1px solid #e0e0e0;  
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-sizing: border-box;
}

.product-item a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.product-item p {
    color: #666;
    margin-bottom: 10px;
    text-align: left;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-item .btn {
    display: inline-block;
    margin-top: 10px;
}

.product-item .button.small {
    display: inline-block;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.product-item .button.small:hover {
    background-color: #0056b3;
}


@media (max-width: 575.98px) { 
    .carousel-slide .carousel-item img {
        height: 250px;
    }
    
    .button_admin {
        margin-top: 600px;
        margin-left: 60px;
    }

    .button_add_item {
        margin-top: 300px;
        margin-left: 200px;
    }
    .button_my_items {
        margin-top: 300px;
        margin-left: 60px;
    }
    
    .beseller {
        margin-top: 360px;
        margin-left: 60px;
    }

    #products {
        margin-top: 600px;
    }

    .Jhin {
        margin-top: 300px;
        margin-left: 200px;
        width: 300px;
        height: 500px;
    }
    
    .carousel-slide {
        width: 490px;
        height: 250px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .carousel-container {
        width: 500px;
        margin-left: 20px;
    }


    .tags_mainpage .image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 70px;
    }
    .tags_mainpage {
        margin-right: 20px;
    }

    .product-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-slide .carousel-item img {
        height: 250px;
    }
    .button_admin {
        margin-top: 600px;
        margin-left: 60px;
    }
    
    .button_add_item {
        margin-top: 300px;
        margin-left: 200px;
    }
    .button_my_items {
        margin-top: 300px;
        margin-left: 60px;
    }
    
    .beseller {
        margin-top: 360px;
        margin-left: 60px;
    }

    #products {
        margin-top: 600px;
    }

    .Jhin {
        margin-top: 300px;
        margin-left: 200px;
        width: 300px;
        height: 500px;
    }
    
    .carousel-slide {
        width: 510px;
        height: 250px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .carousel-container {
        width: 500px;
        margin-left: 20px;
    }


    .tags_mainpage .image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 70px;
    }
    .tags_mainpage {
        margin-right: 20px;
    }

    .product-item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
 }

/* Планшеты */
@media (min-width: 768px) and (max-width: 991.98px) {
    .button_admin {
        margin-top: 340px;
        margin-left: 60px;
    }
    .carousel-slide .carousel-item img {
        height: 350px;
    } 
    .button_add_item {
        margin-top: 300px;
        margin-left: 200px;
    }
    .button_my_items {
        margin-top: 300px;
        margin-left: 60px;
    }
    
    .beseller {
        margin-top: 300px;
        margin-left: 370px;
    }

    #products {
        margin-top: 600px;
    }

    .Jhin {
        margin-top: 300px;
        margin-left: 600px;
        width: 300px;
        height: 500px;
    }
    
    .carousel-slide {
        width: 900px;
        height: 350px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .carousel-container {
        width: 940px;
        margin-left: 20px;
    }


    .tags_mainpage .image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 50px;
    }
    .tags_mainpage {
        margin-right: 50px;
    }

    .product-item {
        flex: 1 1 calc(32% - 30px);
        max-width: calc(32% - 30px);
    }
    
 }

@media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-slide .carousel-item img {
        height: 350px;
        
    }

    .button_admin {
        margin-top: 340px;
        margin-left: 60px;
    }
    .button_add_item {
        margin-top: 300px;
        margin-left: 200px;
    }
    .button_my_items {
        margin-top: 300px;
        margin-left: 60px;
    }
    
    .beseller {
        margin-top: 300px;
        margin-left: 370px;
    }

    #products {
        margin-top: 600px;
    }

    .Jhin {
        margin-top: 300px;
        margin-left: 600px;
        width: 300px;
        height: 500px;
    }
    
    .carousel-slide {
        width: 900px;
        height: 350px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .carousel-container {
        width: 940px;
        margin-left: 20px;
    }


    .tags_mainpage .image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 50px;
    }
    .tags_mainpage {
        margin-right: 50px;
    }

    .product-item {
        flex: 1 1 calc(27% - 30px);
        max-width: calc(27% - 30px);
    }
 }


/* Десктопы */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .carousel-slide .carousel-item img {
        height: 350px;
        
    }
    .button_admin {
        margin-top: 340px;
        margin-left: 60px;
    }
    .button_add_item {
        margin-top: 300px;
        margin-left: 200px;
    }
    .button_my_items {
        margin-top: 300px;
        margin-left: 60px;
    }
    
    .beseller {
        margin-top: 300px;
        margin-left: 370px;
    }

    #products {
        margin-top: 600px;
    }

    .Jhin {
        margin-top: 300px;
        margin-left: 600px;
        width: 300px;
        height: 500px;
    }
    
    .carousel-slide {
        width: 900px;
        height: 350px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .carousel-container {
        width: 940px;
        margin-left: 20px;
    }


    .tags_mainpage .image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 50px;
    }
    .tags_mainpage {
        margin-right: 50px;
    }

    .product-item {
        flex: 1 1 calc(27% - 30px);
        max-width: calc(27% - 30px);
    }
}
 /* Ноут */

/* 2K  второй монитор манитора*/ 
@media (min-width: 1400px) {
    
}

/* 4K */
@media (min-width: 2560px) {

}

/* 5K */
@media (min-width: 5120px) {
}

/* 8K */
@media (min-width: 7680px) {

}