/* Reset and base styles */
h1 {
    text-align: center;
    color: #2c3e50;
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Основной контейнер (размещаем товары слева, Джинна справа) */
.main-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
}

/* Блок с товарами */
.item-list {
    flex: 3; /* Товары занимают больше места */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* Блок с Джинном */
.genie-container {
    margin-left: -220px;
}

.genie {
    width: 320px;
}

.speech-bubble {
    position: absolute;
    width: 200px;
    margin-left: -20px;
    margin-top: -20px;
}

/* Оформление товаров */
.item {
    background: white;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item a {
    text-decoration: none;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

/* Кнопки */
.button_delete {
    display: inline-block;
    background-color: red;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    color: white;
    margin-top:10px ;
}
.price_my_items {
    font-weight: bold;
}
.button_edit {
    background-color: #2ecc71;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
    display: inline-block;
    padding: 10px 15px;
}
.button_delete:hover {
    background-color: darkred;
}

.button_edit:hover {
    background-color: #00360b;
}

/* Кнопка "Добавить товар" */
.button_add_item_my_items {
    background-color: #27ae60;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 26px;
    display: inline-block;
    padding: 10px 20px;
}

.button_add_item_my_items_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 399px) {
    
}

@media (max-width: 575px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) and (max-width: 1399px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1920px) {

}

@media (min-width: 2560px) {

}

@media (min-width: 2880px) { 

}

@media (min-width: 3840px) {

}

@media (min-width: 4800px) {

}