{% extends "base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/seller_regestration.css' %}">
{% endblock %}

{% block content %}
<div class="seller-registration-container">
    <h2 class="seller-registration-title">Регистрация продавца</h2>
    <form method="post" enctype="multipart/form-data" class="seller-registration-form">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary registration-submit-button">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}
