{% extends "base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/main_page.css' %}">
</head>
<body>
    <div id="carouselExampleIndicators" class="carousel-slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for poster in posters %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ poster.image.url }}" class="d-block w-100 img-poster" alt="Poster">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Poster {{ forloop.counter }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    

    </div>
    
    <div class="become-seller">
        <a href="{% url 'store:becomeseller' %}" class="beseller"><span class="icon-besseler">Стать продавцом</span></a>
    </div>
    <div>
        <img src="{% static 'images/ddd.png' %}" class="Jhin">
    </div>
    <!--Карусель категорий-->
    <div class="carousel-container">
        <div class="tags_mainpage">
          {% for tag in page_obj_2 %}
          <a href="{% url 'store:tag_details' tag.slug %}" class="carousel-item">
            <p><span class="image right">
              {% if tag.image %}
                <img src="{{ tag.image.url }}" alt="" style="width: 200px; height: 200px;"/>
              {% else %}
                <img src="{% static 'images/pic14.jpg' %}" alt="" />
              {% endif %}
            </span></p>
            <b>{{ tag.name }}</b>
          </a>
          {% endfor %}
        </div>
        <button class="next">&#60;</button>
        <button class="previous">&#62;</button>
      </div>
      
    
    
    <!-- Продукты -->
    <section id="products">
        <div class="inner">
            <h2>Список всех продуктов</h2>
            <div class="product-list">
                {% for item in page_obj %}
                    <div class="product-item" id="item-{{ item.id }}">
                        <a href="{% url 'store:item_details' item.slug %}"><b>{{ item.title }}</b></a>
                        <p><span class="image right">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" alt="" />
                            {% else %}
                                <img src="{% static 'images/pic14.jpg' %}" alt="" />
                            {% endif %}
                        </span>{{ item.description }}</p>
                        <p class="price-current">Цена: <b style="color: black;">{{ item.price }}</b> сом</p>
                        {% if user.is_authenticated %}
                        <button id="favorite-btn-{{ item.id }}" class="btn btn-sm btn-outline-primary" onclick="toggleFavorite({{ item.id }})">
                            {% if item.id in favorites %}
                            <i class="fa-solid fa-heart"></i>
                            {% else %}
                            <i class="fa-regular fa-heart"></i>
                            {% endif %}
                        </button>                        
                            <a href="{% url 'cart:add_to_cart' item.slug %}" class="button_small" style="margin-top:10px; color: white;">
                                Добавить в корзину</a>
                        {% endif %}
                    </div>
                    {% if not forloop.last %}{% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    
    
    
    
    {% endblock %}
    
    {% block js %}
    <script>
document.addEventListener('DOMContentLoaded', function() {
    const carousel = document.querySelector('.tags_mainpage');
    const nextButton = document.querySelector('.next');
    const prevButton = document.querySelector('.previous');
    const carouselItems = document.querySelectorAll('.tags_mainpage a');

    const itemWidth = carouselItems[0].offsetWidth + 20;
    const totalItems = carouselItems.length;
    const visibleItems = 4;
    const maxScroll = (totalItems - visibleItems) * itemWidth;

    let currentScroll = 0;

    nextButton.addEventListener('click', () => {
        if (currentScroll < maxScroll) {
            currentScroll += itemWidth;
            carousel.scrollLeft = currentScroll;
        }
    });

    prevButton.addEventListener('click', () => {
        if (currentScroll > 0) {
            currentScroll -= itemWidth;
            carousel.scrollLeft = currentScroll;
        }
    });
});

function toggleFavorite(itemId) {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;       
    fetch(`/toggle_favorite/${itemId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({}),
    })
    .then(response => response.json())
    .then(data => {
        const button = document.getElementById(`favorite-btn-${itemId}`);
        const icon = button.firstElementChild;

        if (data.action === 'added') {
            icon.classList.remove('fa-regular');
            icon.classList.add('fa-solid');
        } else if (data.action === 'removed') {
            icon.classList.remove('fa-solid');
            icon.classList.add('fa-regular');
        }
    })
    .catch(error => console.error('Ошибка:', error));
}


</script>
    {% endblock %}
    
</body>
</html>

