{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/my_items.css' %}">
{% endblock %}
{% block content %}
    <div class="button_add_item_my_items_container">
        <a href="{% url 'store:add_item' %}" class="button_add_item_my_items">Добавить товар</a>
    </div>
    <h1>Мои обьявления</h1>


    <div class="main-container">
        <!-- Блок с товарами (теперь он слева) -->
        <div class="item-list">
            {% for item in items %}
                <div class="item">
                    {% if item.slug %}
                    <a href="{% url 'store:item_details' item.slug %}"><b>{{ item.title }}</b></a>
                {% else %}
                    <b>{{ item.title }}</b>  {# Без ссылки, если нет slug #}
                {% endif %}
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt=""/>
                    {% else %}
                    <img src="{% static 'images/pic14.jpg' %}" alt="" />
                    {% endif %}
                    <p class="price_my_items">{{ item.price }} сом</p>
                    <a href="{% url 'store:edit_item' item.id %}" class="button_edit">Редактировать</a>
                    <form method="post" action="{% url 'store:delete_item' item.id %}">
                        {% csrf_token %}
                        <button type="submit" class="button_delete">Удалить</button>
                    </form>
                </div>  
            {% endfor %}
        </div>

        <!-- Блок с Джинном (теперь он справа) -->
        <div class="genie-container">
            <img src="{% static 'images/whatssell1.png' %}" alt="Что будем продавать?" class="speech-bubble">
            <img src="{% static 'images/ddd.png' %}" class="genie">
        </div>
    </div>
{% endblock %}
